@import "~materialize-css/dist/css/materialize.min.css";

.card-action .btn:nth-of-type(1) {
   margin-right: 10px;
}

input.yellow-input:-webkit-autofill,
input.yellow-input:-webkit-autofill:hover, 
input.yellow-input:-webkit-autofill:focus {
   background-color:  #1E88E5 !important;
   transition: background-color 5000s ease-in-out 0s;
}

input.yellow-input {
   border-bottom: 1px solid #fff !important;
   box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input + label {
   color: #fff !important;
   background-color: #1E88E5 !important;
}

input.yellow-input:focus + label {
   color: #ffeb3b !important;
}

input.yellow-input:focus {
   border-bottom: 1px solid #ffeb3b !important;
   box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.nav-wrapper {
   padding: 0 2rem;
}

.create-page .input-field {
   margin-top: 2rem;
}

.loader {
   display: flex;
   justify-content: center;
   padding-top: 2rem;
}

td {
   max-width: 300px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}